header{
    background-color: cadetblue;
    color: aliceblue;
    font-family: century gothic;
    padding: 2%;
}
nav{
    float: right;
    display: flex;
    padding: 1% 1% 1% 1%;
}
nav li{
    padding: 10px 10px 10px 10px;
    list-style: none;
    display: inline-block;
}
h2{
    margin-top: 5%;
    text-align: center;
    font-family: cursive;
}
body{
    background-image: url(asset/bg3.jpeg);
}
#belanja{
    margin-left: 30%;
    margin-right: 30%;
    font-family: century gothic;
}
#belanja img{
    width: 30%;
    margin-left: 34%;
    border-radius: 100%;
}
#belanja button{
    margin-top: 5%;
    margin-left: 38%;
    width: 20%;
    padding: 1%;
    background-color: cadetblue;
    color: aliceblue;
    font-family: century gothic;
}
#bahan{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 50%;
    font-family: century gothic;
}
#bahan h2{
    margin-top: 5%;
    text-align: left;
    font-family: cursive;
}
#bahan img{
    border-radius: 100%;
    width: 30%;
}
#kontak{
    margin-left: 50%;
}
#kontak{
    text-align: center;
}
footer button{
    float: right;
}
footer{
    padding: 2%;
    background-color: cadetblue;
}