*{
    margin: 0;
    font-family:'Times New Roman'
}
body{
    background-color: #FBF7F0;
}
#top{
    background-color: #555555;
}
h1{
    font-family:'Times New Roman';
    color: #FBF7F0;
    padding: 3%;
}
.isi{
    margin-top: 2%;
}
.isi fieldset{
    margin: 1% 1% 1% 1% ;
    background-color: #CDC9C3;
}
legend{
    padding: 1%;
    font-size: 20px;
    color: #FBF7F0;
    background-color:#555555;
}
.isi input{
    padding: 1%;
    margin: 1% 1% 1% 9% ;
    width: 35%;
    border-color: #555555;
    box-sizing: border-box;
}
.isi select{
    padding: 1%;
    margin: 1% 1% 1% 9% ;
    width: 35%;
    border-color: #555555;
}
#btn_tampil{
    padding: 1%;
    margin-left: 32%;
    width: 35%;
    border-color: #555555;
    box-sizing: border-box;
}
h3{
    margin: 3% 1% 1% 1%;
    padding: 1%;
    text-align: center;
    color: #FBF7F0;
    background-color: #555555;
}
#tabeldata{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-collapse: collapse;
    
}
#tabeldata, tr, th{
    padding: 30px;
    background-color: #555555;
    color: #FBF7F0;
}
#tabeldata, tr, td{
    padding: 30px;
    background-color: #CDC9C3;
    color: #555555;;
}
#tbl_edit{
    width: 100%;
    padding: 5px 5px 5px 5px;
}
#tbl_hapus{
    width: 100%;
    padding: 5px 5px 5px 5px;
}
footer{
    padding: 1%;
    color: #FBF7F0;
    background-color:#555555 ;
}